.primary{
    background: #23C0A5;
    box-shadow: 0px 3px 4px rgba(35, 192, 165, 0.347246);
    border-radius: 4px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;

    /* identical to box height */

    color: #FFFFFF;
}